<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test ukończony!</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="text-center" id="button_start">
    <div class="flex flex-col h-screen justify-center items-center">
        <div class="text-center py-2 px-2 mt-2 mb-6">
            <div class="bg-gray-800 mt-2 px-8 py-2 rounded-xl">
                <div class="px-4 py-4 mx-2 my-2">
                    <h2 class="text-red-500 font-bold text-8xl">404</h2>
                </div>
                <div class="mx-2 my-2">
                    <img class="text-center item-center mx-auto" src="/img/404-error.png">
                </div>

                <div class="px-4 py-4 mt-8 my-2">
                    <h2 class="text-white  text-4xl">Coś poszło nie tak 😣</h2>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>