<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>test</title>

  <script
          src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>

</head>
<script>
  $.ajax({
    success: function (data) {

    console.log(data);

    }

  });


</script>

<body>
<h1>test uprawnien</h1>
<h1>TU MOZE TYLKO USER</h1>

</body>
</html>